{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "images": "./src/images",
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
